#keyboard
  width: 100vw
  height: 100vh

.keyboard
  display: inline-block
  text-align: center
  padding: 0

  .row
    padding: 0
    margin: 0

  .bolder
    font-weight: bold

  .transition
    transition: background-color 75ms ease-out

  .sound_pack_button
    display: inline-block
    margin: 2px
    border: 1px solid black
    background-color: $primary-color

    &.sound_pack_block
      display: block
      margin: 2px auto

    &.highlight_sound_pack
      background-color: $secondary-color

.keyboard_key
  display: inline-block
  margin: 4px
  text-align: center
  border: solid 1px black
  cursor: default
