body
  margin: 0
  padding: 0
  font-family: Arial
  text-align: center
  overflow: hidden

.vertical-align
  position: relative
  top: 50%
  transform: translateY(-50%)

$secondary-color: rgb(255, 160, 0)

@import waveform
@import splitter
@import player
@import keyboard
@import ripple

.hidden
  display: none

.load-button
  border: 1px solid black
  padding: 2px 6px
  cursor: pointer
  display: inline-block

#mini-player

  #play-pause
    display: inline-block
    border: 1px solid black

  #timeline-bar
    width: 200px
    height: 30px
    border: 1px solid black
    display: inline-block
    position: relative

    #timeline-progress-bar
      position: absolute
      height: 100%
      width: 30%
      background-color: red