body
  margin: 0
  padding: 0
  font-family: Arial
  text-align: center
  overflow: hidden

.vertical-align
  position: relative
  top: 50%
  transform: translateY(-50%)

$secondary-color: rgb(255, 160, 0)

@import waveform
@import splitter
@import player
@import keyboard
@import ripple

.hidden
  display: none
