#file-manager
  display: inline
  width: 160px
  height: 500px
  border: 1px solid black
  position: absolute
  top: 50px
  left: 50px
  text-align: left
  overflow: scroll
  cursor: pointer
  background-color: rgb(150, 150, 200)
  padding-left: 4px

.subdirectory-name
  padding: 8px 0

.subdirectory
  padding-left: 8px
  display: none

.file
  padding: 6px
  background-color: rgb(100, 100, 150)

  &:hover
    background-color: white

#file-inspector
  position: absolute
  display: inline
  border: 1px solid black
  width: 500px
  height: 160px
  bottom: 50px
  left: 250px
  background-color: rgb(220,220,220)
