$key_width: 56px
$key_height: 40px

#keyboard
  width: 100vw
  height: 100vh

.keyboard
  display: inline-block
  width: 960px
  text-align: center
  padding: 0
  // margin-top: 50px
  +vertical-align

  .row
    padding: 0
    margin: 0

  .keyboard_key
    display: inline-block
    padding: 10px 2px
    margin: 4px
    width: $key_width
    height: $key_height
    font-size: 35px
    text-align: center
    border: solid 1px black
    border-radius: 6px
    cursor: pointer
    transition: background-color 75ms ease-out

  .bolder
    font-weight: bold
