@import colors

body
  margin: 0
  padding: 0
  font-family: Arial
  background-color: $gray-1
  text-align: center
  overflow: hidden

.vertical-align
  position: relative
  top: 50%
  transform: translateY(-50%)

.horizontal-column
  display: inline-block
  vertical-align: top
  height: 100%

@import keyboard
@import files
@import creator
@import toolbar
@import splitter
@import waveform

@import ripple
